services:
  casc-init:
    image: alpine
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./jenkins.yaml:/tmp/jenkins.yaml
    command: >
      sh -c "
        mkdir -p /var/jenkins_home/casc_configs &&
        cp /tmp/jenkins.yaml /var/jenkins_home/casc_configs/
      "

  controller:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - "docker-jenkins"
    volumes:
      - jenkins_home:/var/jenkins_home
    ports:
      - "8080:8080"
      - "50000:50000"

volumes:
  jenkins_home:
    driver: local