services:
  controller:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - "docker-jenkins"
    volumes:
      - jenkins_home:/var/jenkins_home
    ports:
      - "8080:8080"
      - "50000:50000"

volumes:
  jenkins_home:
    driver: local